* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  min-height: 100%;
  max-width: 1376px;
  margin: 0 auto;
  padding: 0 20px;
}

.menu_content {
  display: grid;
  grid-template-columns: 860px 210px 306px;
}
.menu_content .menu_tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.menu_content .menu_tel a {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 38px;
  text-decoration: none;
  color: #212529;
}
.menu_content .menu_tel a:hover {
  color: #DDD7C0;
}
.menu_content .menu_tel a:active {
  color: #CBC6B2;
}
.menu_content .menu_nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: #212529;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 38px;
}
.menu_content .menu_nav a:hover {
  color: #DDD7C0;
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}
.menu_content .menu_nav a:active {
  color: #CBC6B2;
}

.main_content {
  display: grid;
  grid-template-columns: 688px 688px;
  grid-template-rows: 300px 140px 810px;
  margin-top: 50px;
}
.main_content .main_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  grid-column: 1/2;
  grid-row: 1;
  font-family: "Poppins", sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 86px;
  color: #212529;
  text-transform: uppercase;
}
.main_content .main_subtitle {
  grid-column: 1/2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #212529;
}
.main_content .main_btn {
  grid-column: 2/2;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.main_content .main_btn a {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  color: #212529;
  text-underline-offset: 7px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.main_content .main_btn a:hover {
  color: #DDD7C0;
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}
.main_content .main_btn a:active {
  color: #CBC6B2;
}
.main_content .main_img__left {
  grid-column: 1/2;
  grid-row: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.main_content .main_img__right {
  grid-column: 2/2;
  grid-row: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.professional_content {
  display: grid;
  grid-template-columns: 700px 688px;
  grid-template-rows: 308px 400px;
  margin-top: 120px;
}
.professional_content .professional_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  grid-column: 1/2;
  grid-row: 1;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 66px;
  color: #212529;
}
.professional_content .professional_descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  grid-column: 2/2;
  grid-row: 1;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #212529;
}
.professional_content .professional_info {
  margin-top: 50px;
  grid-column: 2/2;
  grid-row: 2;
}
.professional_content .professional_info .profi_item {
  display: grid;
  grid-template-rows: 60px;
}
.professional_content .professional_info .profi_item h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  color: #212529;
  line-height: 2px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
}
.professional_content .professional_info .profi_item p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #212529;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
}

.steps_content {
  display: grid;
  grid-template-columns: 700px 676px;
  grid-template-rows: 100px 1000px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 120px;
}
.steps_content .steps_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  grid-column: 1/2;
  grid-row: 1;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 66px;
  color: #212529;
}
.steps_content .steps_subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  grid-column: 2/2;
  grid-row: 1;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #212529;
}
.steps_content .steps_inner {
  grid-column: 2;
  grid-row: 2;
}
.steps_content .steps_inner .steps_item {
  display: grid;
  grid-template-rows: repeat(5, 200px);
}
.steps_content .steps_inner .steps_item .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #000;
}
.steps_content .steps_inner .steps_item .item h3 {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  color: #212529;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 330px;
      flex-basis: 330px;
}
.steps_content .steps_inner .steps_item .item p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #212529;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

.projects_content {
  display: grid;
  grid-template-columns: 450px 450px 450px;
  grid-template-rows: 100px 580px 700px;
  gap: 20px;
}
.projects_content .projects_title {
  grid-column: 1/3;
  grid-row: 1;
}
.projects_content .projects_title h3 {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  color: #212529;
}
.projects_content .projects_inner {
  grid-column: 1;
  grid-row: 2;
}
.projects_content .projects_inner:nth-child(2) {
  grid-column: 2;
  grid-row: 2;
}
.projects_content .projects_inner:nth-child(3) {
  grid-column: 3;
  grid-row: 2;
}
.projects_content .projects_inner:nth-child(4) {
  grid-column: 1;
  grid-row: 3;
}
.projects_content .projects_inner:nth-child(5) {
  grid-column: 2;
  grid-row: 3;
}
.projects_content .projects_inner:nth-child(6) {
  grid-column: 3;
  grid-row: 3;
}
.projects_content .projects_inner a {
  display: block;
  position: relative;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #DDD7C0;
}
.projects_content .projects_inner a .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 6px;
  bottom: 6px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.projects_content .projects_inner a .overlay:hover {
  color: #DDD7C0;
  opacity: 1;
}
.projects_content .projects_inner a .overlay:active {
  color: #CBC6B2;
}

.feedback_content {
  display: grid;
  grid-template-columns: repeat(3, 458px);
  grid-template-rows: 120px 330px;
  gap: 10px;
}
.feedback_content .feedback_title {
  grid-column: 1/3;
  grid-row: 1/2;
}
.feedback_content .feedback_inner {
  border: 1px solid #212529;
  grid-column: span 1;
  grid-row: 2/2;
}
.feedback_content .feedback_inner:nth-child(2) {
  grid-column: 2/3;
  grid-row: 2/2;
}
.feedback_content .feedback_inner:nth-child(3) {
  grid-column: 3/3;
  grid-row: 2/2;
}
.feedback_content .feedback_inner .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}
.feedback_content .feedback_inner .item img {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
}
.feedback_content .feedback_inner .item h3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #212529;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 30px;
      flex-basis: 30px;
}
.feedback_content .feedback_inner .item p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #212529;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.feedback_content .feedback_title h3 {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  color: #212529;
}

.form_content {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(2, 688px);
  grid-template-rows: 130px 100px 300px 180px;
}
.form_content .form_img {
  grid-column: 1/2;
}
.form_content .form_title {
  grid-column: 2/2;
  grid-row: 1/4;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 66px;
  color: #212529;
}
.form_content .form_subtitle {
  grid-column: 2/2;
  grid-row: 2/4;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #212529;
}
.form_content .form_request {
  grid-column: 2/2;
  grid-row: 3/4;
}
.form_content .form_request p {
  padding-bottom: 20px;
}
.form_content .form_request input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #212529;
}
.form_content .form_request input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #212529;
}
.form_content .form_request input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #212529;
}
.form_content .form_request input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #212529;
}
.form_content .form_request input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #212529;
}
.form_content .form_request input:focus::-webkit-input-placeholder {
  color: #CBC6B2;
}
.form_content .form_request input:focus::-moz-placeholder {
  color: #CBC6B2;
}
.form_content .form_request input:focus:-ms-input-placeholder {
  color: #CBC6B2;
}
.form_content .form_request input:focus::-ms-input-placeholder {
  color: #CBC6B2;
}
.form_content .form_request input:focus::placeholder {
  color: #CBC6B2;
}
.form_content .form_request .input_name {
  background: transparent;
  border: none;
  border-bottom: 1px solid #212529;
  width: 500px;
}
.form_content .form_request .input_name:focus {
  border-color: #DDD7C0;
  outline: none;
}
.form_content .form_request .input_name:active {
  border-color: #CBC6B2;
}
.form_content .form_request .input_email {
  background: transparent;
  border: none;
  border-bottom: 1px solid #212529;
  width: 500px;
}
.form_content .form_request .input_email:focus {
  border-color: #CBC6B2;
  outline: none;
}
.form_content .form_request .input_email:active {
  border-color: #CBC6B2;
}
.form_content .form_request .input_phone {
  background: transparent;
  border: none;
  border-bottom: 1px solid #212529;
  width: 500px;
}
.form_content .form_request .input_phone:focus {
  border-color: #CBC6B2;
  outline: none;
}
.form_content .form_request .input_phone:active {
  border-color: #CBC6B2;
}
.form_content .form_request .label_btn {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: #212529;
  color: #FFFFFF;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
.form_content .form_request .label_btn:hover {
  background-color: #DDD7C0;
  color: #212529;
  border: none;
}
.form_content .form_request .label_btn:active {
  -webkit-transform: translate(0em, 0.7em);
          transform: translate(0em, 0.7em);
  background-color: #CBC6B2;
  color: #212529;
  border: none;
}
.form_content .form_icons {
  grid-column: 2/2;
  grid-row: 4/4;
}
.form_content .form_icons a:last-child {
  padding-left: 10px;
}

.footer_content {
  display: grid;
  grid-template-columns: repeat(3, 458px);
  grid-template-rows: 100px;
}
.footer_content .footer_descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  grid-column: 1 span;
  grid-row: 1;
}
.footer_content .footer_descr p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  color: #212529;
  text-transform: uppercase;
}
.footer_content .footer_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  grid-column: 2/3;
  grid-row: 1;
}
.footer_content .footer_link a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #212529;
  text-decoration: none;
}
.footer_content .footer_link a:hover {
  color: #DDD7C0;
}
.footer_content .footer_link a:active {
  color: #CBC6B2;
}
.footer_content .footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column: 3/3;
  grid-row: 1;
}
.footer_content .footer_social a {
  margin-right: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  color: #212529;
  text-decoration: none;
  text-transform: uppercase;
}
.footer_content .footer_social a:hover {
  color: #DDD7C0;
}
.footer_content .footer_social a:active {
  color: #CBC6B2;
}